<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.IApartmentDAO">
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.solvd.models.Apartment">
        INSERT INTO appartments(rooms, floor, area, building_id) VALUES (#{rooms},#{floor},#{area}, #{building.id})
    </insert>
    <update id="update" parameterType="com.solvd.models.Apartment" keyProperty="id" useGeneratedKeys="true">
        UPDATE appartments SET rooms=#{rooms}, floor=#{floor}, area=#{area}, building_id=#{building.id} where id=#{id}
    </update>
    <select id="getByID" parameterType="java.lang.Long" resultMap="apartmentResultMap">
        select * from appartments where id = #{id}
    </select>
    <delete id="remove" parameterType="java.lang.Long">
        DELETE from appartments where id = #{id}
    </delete>
    <resultMap id="apartmentResultMap" type="com.solvd.models.Apartment">
        <id column="id" property="id"/>
        <association property="building" column="building_id" javaType="com.solvd.models.Building"
                     select="com.solvd.dao.IBuildingDAO.getByID" fetchType="eager"/>
    </resultMap>
</mapper>