<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.IClientDAO">
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.solvd.models.Client">
        INSERT INTO clients(userId, city_id) VALUES (#{user.id},#{city.id})
    </insert>
    <update id="update" parameterType="com.solvd.models.Client" keyProperty="id" useGeneratedKeys="true">
        UPDATE clients SET userId=#{user.id}, city_id=#{city.id} where id=#{id}
    </update>
    <select id="getByID" parameterType="java.lang.Long" resultMap="clientResultMap">
        select * from clients where id = #{id}
    </select>
    <resultMap id="clientResultMap" type="com.solvd.models.Client">
        <id column="id" property="id"/>
        <association property="city" column="city_id" javaType="com.solvd.models.City"
                     select="com.solvd.dao.ICityDAO.getByID" fetchType="eager"/>
        <association property="user" column="userId" javaType="com.solvd.models.User"
                     select="com.solvd.dao.IUserDAO.getByID" fetchType="eager"/>
    </resultMap>
</mapper>