<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.IEmployeeDAO">
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.solvd.models.Employee">
        INSERT INTO employees(title, salary, department_id, user_id, editUserRight, editBuildingRight)
        VALUES (#{title},#{salary},#{department.id},#{user.id},#{editUserRight},#{editBuildingRight})
    </insert>
    <update id="update" parameterType="com.solvd.models.Employee" keyProperty="id" useGeneratedKeys="true">
        UPDATE employees SET title=#{title}, salary=#{salary},department_id=#{department.id},user_id=#{user.id},
                             editUserRight=#{editUserRight}, editBuildingRight=#{editBuildingRight} where id=#{id}
    </update>
    <select id="getByID" parameterType="java.lang.Long" resultMap="employeeResultMap">
        select * from employees where id = #{id}
    </select>
    <resultMap id="employeeResultMap" type="com.solvd.models.Employee">
        <id column="id" property="id"/>
        <association property="department" column="department_id" javaType="com.solvd.models.Department"
                     select="com.solvd.dao.IDepartmentDAO.getByID" fetchType="eager"/>
        <association property="user" column="user_id" javaType="com.solvd.models.User"
                     select="com.solvd.dao.IUserDAO.getByID" fetchType="eager"/>
    </resultMap>
</mapper>