<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.dao.IUserDAO">
    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.solvd.models.User">
        INSERT INTO users(email, password, firstName, lastName, phoneNumber, status_id)
        VALUES (#{email},#{password},#{firstName},#{lastName},#{phoneNumber},#{status.id})
    </insert>
    <update id="update" parameterType="com.solvd.models.User" keyProperty="id" useGeneratedKeys="true">
        UPDATE users SET email=#{email}, password=#{password}, firstName=#{firstName}, lastName=#{lastName},
                         phoneNumber=#{phoneNumber}, status_id=#{status.id} where id=#{id}
    </update>
    <select id="getByID" parameterType="java.lang.Long" resultMap="userResultMap">
        select * from users where id = #{id}
    </select>
    <delete id="remove" parameterType="java.lang.Long">
        DELETE from users where id = #{id}
    </delete>
    <resultMap id="userResultMap" type="com.solvd.models.User" >
        <association property="status" column="status_id" javaType="com.solvd.models.UserStatus"
                     select="com.solvd.dao.IUserStatusDAO.getByID" fetchType="eager"/>
    </resultMap>
</mapper>